.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
}
    .sidebar__logo h3{ 
        flex-direction: column
     }
    .sidebar__nav{
        flex-grow: 1;
        list-style: none;
        padding: 0;
    }
    .sidebar__profile{ 
        flex-grow: 1
     }